
build/Debug-iphonesimulator/UnitTestExample.app/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/Debug-iphonesimulator/UnitTestExample.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/Debug-iphonesimulator/UnitTestExample.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/Debug-iphonesimulator/UnitTestExample.app/Base.lproj/Main.storyboardc/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/libXCTestBundleInject.dylib
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/libXCTestSwiftSupport.dylib
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTAutomationSupport.framework/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTAutomationSupport.framework/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTAutomationSupport.framework/version.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTAutomationSupport.framework/XCTAutomationSupport
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTest.framework/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTest.framework/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTest.framework/version.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTest.framework/XCTest
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTestCore.framework/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTestCore.framework/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTestCore.framework/version.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCTestCore.framework/XCTestCore
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUIAutomation.framework/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUIAutomation.framework/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUIAutomation.framework/version.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUIAutomation.framework/XCUIAutomation
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUnit.framework/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUnit.framework/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUnit.framework/version.plist
build/Debug-iphonesimulator/UnitTestExample.app/Frameworks/XCUnit.framework/XCUnit
build/Debug-iphonesimulator/UnitTestExample.app/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/PkgInfo
build/Debug-iphonesimulator/UnitTestExample.app/PlugIns/UnitTestExampleTests.xctest/_CodeSignature/CodeResources
build/Debug-iphonesimulator/UnitTestExample.app/PlugIns/UnitTestExampleTests.xctest/Info.plist
build/Debug-iphonesimulator/UnitTestExample.app/PlugIns/UnitTestExampleTests.xctest/UnitTestExampleTests
build/Debug-iphonesimulator/UnitTestExample.app/UnitTestExample
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/arm64-apple-ios-simulator.swiftdoc
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/arm64-apple-ios-simulator.swiftmodule
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/arm64.swiftdoc
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/arm64.swiftmodule
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/Project/arm64-apple-ios-simulator.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/Project/arm64.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/Project/x86_64.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/x86_64.swiftdoc
build/Debug-iphonesimulator/UnitTestExample.swiftmodule/x86_64.swiftmodule
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/arm64-apple-ios-simulator.swiftdoc
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/arm64-apple-ios-simulator.swiftmodule
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/arm64.swiftdoc
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/arm64.swiftmodule
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/Project/arm64-apple-ios-simulator.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/Project/arm64.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/Project/x86_64.swiftsourceinfo
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/x86_64.swiftdoc
build/Debug-iphonesimulator/UnitTestExampleTests.swiftmodule/x86_64.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/all-product-headers.yaml
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/assetcatalog_dependencies
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/assetcatalog_generated_info.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/LaunchScreen-SBPartialInfo.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/Main-SBPartialInfo.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/Main.storyboardc/Info.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/DerivedSources/Entitlements-Simulated.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/DerivedSources/Entitlements.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/DerivedSources/UnitTestExample-Swift.h
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/AppDelegate~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/Binary/UnitTestExample
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/SceneDelegate~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample-master.priors
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample-master.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample-OutputFileMap.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample-Swift.h
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample.abi.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample.LinkFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample.SwiftFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/UnitTestExample_dependency_info.dat
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/User~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/arm64/ViewController~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/AppDelegate~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/Binary/UnitTestExample
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/SceneDelegate~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample-master.priors
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample-master.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample-OutputFileMap.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample-Swift.h
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample.abi.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample.LinkFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample.SwiftFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/UnitTestExample_dependency_info.dat
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/User~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController.stringsdata
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/Objects-normal/x86_64/ViewController~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/SwiftStdLibToolInputDependencies.dep
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample-all-non-framework-target-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample-all-target-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample-generated-files.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample-own-target-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample-project-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample.app-Simulated.xcent
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample.app.xcent
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExample.build/UnitTestExample.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/all-product-headers.yaml
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/DerivedSources/Entitlements-Simulated.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/DerivedSources/UnitTestExampleTests-Swift.h
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/empty-UnitTestExampleTests.plist
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/Binary/UnitTestExampleTests
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests-master.priors
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests-master.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests-OutputFileMap.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests-Swift.h
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.abi.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.LinkFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.SwiftFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests_dependency_info.dat
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/arm64/UnitTestExampleTests~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/Binary/UnitTestExampleTests
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests-master.priors
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests-master.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests-OutputFileMap.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests-Swift.h
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.abi.json
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.d
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.dia
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.LinkFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.o
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.swiftdeps
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.SwiftFileList
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests_dependency_info.dat
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests~partial.swiftdoc
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests~partial.swiftmodule
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/Objects-normal/x86_64/UnitTestExampleTests~partial.swiftsourceinfo
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/SwiftStdLibToolInputDependencies.dep
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests-all-non-framework-target-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests-all-target-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests-generated-files.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests-own-target-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests-project-headers.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests.hmap
build/UnitTestExample.build/Debug-iphonesimulator/UnitTestExampleTests.build/UnitTestExampleTests.xctest-Simulated.xcent
build/XCBuildData/493d99b54f612f6d52d7dd6dd541d043-buildRequest.json
build/XCBuildData/493d99b54f612f6d52d7dd6dd541d043-desc.xcbuild
build/XCBuildData/493d99b54f612f6d52d7dd6dd541d043-manifest.xcbuild
build/XCBuildData/493d99b54f612f6d52d7dd6dd541d043-targetGraph.txt
build/XCBuildData/build.db
build/XCBuildData/BuildDescriptionCacheIndex-c08d64408d24f4b64c751c16f3e832f0
UnitTestExample.xcodeproj/project.pbxproj
UnitTestExample.xcodeproj/project.xcworkspace/xcuserdata/nl.xcuserdatad/UserInterfaceState.xcuserstate
UnitTestExample.xcodeproj/project.xcworkspace/xcuserdata/nl.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
